.container-login {
  background-color: #30332e;
  height: 100vh;
  position: relative;
}

.form-login {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.063);
  border: 1px solid #30332e;
  border-radius: 20px;
  bottom: 0;
  box-shadow: 15px 15px 20px 2px rgba(0, 0, 0, 0.5),
    0 0 10px 2px rgba(255, 255, 255, 0.5),
    inset 0 0 20px 2px rgba(0, 0, 0, 0.5),
    inset -8px -8px 10px 2px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  height: 450px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 750px;
}

.logo {
  height: 200px;
  margin-top: 10px;
  width: 250px;
}

.container-login input {
  border: 1px solid var(--primary-font-color);
  border-radius: 100px;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: center;
}

.container-login input::placeholder {
  color: var(--secondary-acent-color);
}
