.container-card-music {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.container-card-music audio {
  width: 371.3px;
  height: 55.95px;
  border-radius: 42.3864px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.539);
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: white;
  color: #000;
}

.icon-music-card {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}