ul {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  gap: 61px;
  justify-content: center;
  list-style: none;
}

.link-nav {
  color: #fefae0;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 16px;
  text-decoration: none;
  text-transform: capitalize;
}

.icon-nav {
  height: 35px;
  margin-right: 15px;
  width: 35px;
}
