  .container-search {
  display: flex;
}

.container-header-search {
  background-color: var(--secondary-acent-color);
  width: 350px;
}

.container-form-result{
  width: 100%;
  background-color: #30332E;
}

.container-form-search {
  background-color: #30332E;
  background-image: linear-gradient(to right, #6e44ff, #a541fc, #e440f2, #ff1b8d, #ff0a54);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 2px;
height: 200px;
display: flex;
align-items: center;
justify-content: center;
}

.container-form-search button {
  border-radius: 23px;

}

.container-form-search input {
border-radius: 23px;
width: 400px;
height: 40px;
margin-right: 9px;
}

.container-result-search{
background-color: transparent;
height: 100%;
}

.description {
display: flex;
text-align: center;
margin: auto;
margin-top: 40px;
}

.link-to-perfil {
  color: #fefae0;
  text-decoration: none;
}

.icon-edit {
  color: #fefae0;
  width: 30px;
  height: 30px;
}

.container-edit-perfil {
align-self: flex-end;
margin-right: 40px;
margin-bottom: 20px;
}